* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 380px;
  background: #ffffff;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-size: 12px;
  margin-bottom: 22px;
  color: #999;
}

.sighIn a { 
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.newUser a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
label {
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  outline: none;
}

input:focus {
  border-color: #f08a4b;
}

.forget {
  display: inline-block;
  font-size: 11px;
  color: #f08a4b;
  text-decoration: none;
  margin-bottom: 16px;
}

.btn {
  width: 100%;
  background: #f08a4b;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background: #e17839;
}

.or {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 14px 0;
}

.google-btn {
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 13px;
}

.google-btn img {
  width: 18px;
}
